body{ background-color:#FFF; font-size:14px; font-family: 'Microsoft YaHei UI','Microsoft YaHei','SimSun','Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif!important; margin:0px; padding:0px;}
.clear { height: 0; clear: both; overflow: hidden; font-size: 0;}
div {display:block; margin:0px; padding:0px;}
header{ min-width:1000px; width:100%; margin-bottom:20px; margin:0px; padding:0px;}
header .topNavWrap{ background-color:#000; width:100%; overflow:auto; top:0; left:0; z-index:100; -webkit-transform: translate3d(0,0,0);}
header .topNavWrap .navItem{ width:1000px; margin: 0px auto; height:32px; line-height:32px;}
header .topNavWrap .navItem nav{ width:600px; height:32px; line-height:32px; float:left;}
header .topNavWrap .navItem nav a{ color:#FFF; text-decoration:none;  padding:0px 5px; }
header .topNavWrap .navItem nav a:Hover{ color:#00bcf2; text-decoration:none; transition: .3s ease-in-out;}
header .topNavWrap .navItem .loginPanel{ width:400px; float: right; height: 32px; position: relative; text-align:right;}
header .topNavWrap .navItem .loginPanel nav{ width:400px; float: right; height: 32px; position: relative;}
header .topNavWrap .navItem .loginPanel a{ color:#FFF; text-decoration:none; padding:0px 5px; }
header .topNavWrap .navItem .loginPanel a:Hover{ color:#CCC; text-decoration:none;  padding:0px 5px; transition: .3s ease-in-out; }
header .headerWrap {top:32px; left:0px;  padding:5px 0px; margin:0px; width:100%; background-color:#f0f0f0; border-bottom: 1px solid #dcdcdc; height:60px;}
header .headerWrap .headerPanel {width:1000px; margin:0px auto; height:60px;}
.contentWrap{ width:1000px; margin:0px auto; padding-top:10px;}
.contentWrap aside{ width:300px; float:right;}
.contentWrap .blockLeftWrap{ padding:0px 20px 0px 0px; margin:0px; width:680px; float:left;}
.contentWrap .blockLeftWrap .leftTopWrap{ width:100%; padding:0px; margin:0px; vertical-align:top;}
.contentWrap .blockLeftWrap .leftTopWrap .tagWrap{ position:relative; width:200px; float:left;}
.contentWrap .blockLeftWrap .leftTopWrap .tagWrap dl{border-bottom: 1px solid #dcdcdc; padding:0px; margin:0px; overflow:auto;}
.contentWrap .blockLeftWrap .leftTopWrap .tagWrap dl h1{font-size:14px; padding:3px 0px 0px 0px; margin:0px; font-weight:bold; color:#222;}
.contentWrap .blockLeftWrap .leftTopWrap .tagWrap dl dt{float:left; padding-right:15px; margin-bottom:2px;}
.contentWrap .blockLeftWrap .leftTopWrap .tagWrap dl dt a{ color:#666; text-decoration:none;}
.contentWrap .blockLeftWrap .leftTopWrap .tagWrap dl dt a:Hover{ color:#00bcf2; text-decoration:none; }
.contentWrap .blockLeftWrap .articleList{ margin-top:10px; border-top:solid 1px #CCC; }
.contentWrap .blockLeftWrap .articleList .articleListTitle{ border-bottom:solid 1px #CCC; }
.contentWrap .blockLeftWrap .articleList .articleListTitle .icon{ text-align:center; vertical-align:middle; float:left; overflow:visible; width:80px; padding-top:3px; color:#999;}
.contentWrap .blockLeftWrap .articleList .articleListTitle .icon span{ padding:0px 2px 1px 2px; -webkit-border-radius:2px; }
.contentWrap .blockLeftWrap .articleList .articleListTitle .icon span a{ text-decoration:none; color:#333; }
.contentWrap .blockLeftWrap .articleList .articleListTitle .icon span a:hover{ color:#FFF; }
.contentWrap .blockLeftWrap .articleList .articleListTitle .icon .recommend:hover{ background-color:#f04848;}
.contentWrap .blockLeftWrap .articleList .articleListTitle .icon .hot:hover{ background-color:#f04848; }
.contentWrap .blockLeftWrap .articleList .articleListTitle .icon .new:hover{ background-color:#f04848; }
.contentWrap .blockLeftWrap .articleList .articleListTitle h1{padding-left:80px;}